
/*This is css for the visualizations1 in the visualization page*/
.vis1-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  
  .vis1-container h1 {
    margin-top: 5%;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .vis1-container button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
    padding: 10px 20px;
    transition: background-color 0.2s ease;
  }
  
  .vis1-container button:hover {
    background-color: #555;
  }
  
  .vis1-container .chart-container {
    margin-top: 30px;
  }

  .vis1-buttons {
    display: flex;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .vis1-container a {
    padding: 10px;
    font-size: 1em;
    color: blue;
    text-decoration: none;
}

.vis1-container a:hover {
    color: black;
}
  
/*This is css for the visualizations2 in the visualization page*/
    .vis2-container {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .vis2-container .chart-container {
        margin-top: 30px;
    }

    .vis2-container h1 {
        padding-top: 5%;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .vis2-container a {
        padding: 10px;
        font-size: 1em;
        color: blue;
        text-decoration: none;
    }

    .vis2-container a:hover {
        color: black;
    }

/*This is css for the visualizations3 in the visualization page*/
    .vis3-container {
        padding-bottom: 10%;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .vis3-container .chart-container {
        margin-top: 30px;
    }

    .vis3-container h1 {
        padding-top: 5%;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .vis3-container a {
        padding: 10px;
        font-size: 1em;
        color: blue;
        text-decoration: none;
    }

    .vis3-container a:hover {
        color: black;
    }

/*This is css for the visualizations4 in the visualization page*/
    .vis4-container {
        padding-bottom: 10%;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .vis4-container .chart-container {
        margin-top: 30px;
    }

    .vis4-container h1 {
        padding-top: 5%;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .vis4-container a {
        padding: 10px;
        font-size: 1em;
        color: blue;
        text-decoration: none;
    }

    .vis4-container a:hover {
        color: black;
    }


/* Media queries, responsive*/
@media only screen and (max-width: 768px){
    .vis1-container {
        width: 100%;
        padding: 0 20px;
    }

    .vis2-container {
        width: 100%;
        padding: 0 20px;
    }

    .vis3-container {
        width: 100%;
        padding: 0 20px;
    }
}


/*This is css for the visualizations5 in the visualization page*/
    .vis5-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 35%;
        margin: auto;
        text-align: center;
        padding: 10px;
        padding-bottom: 10%;
    }

    .vis5-container h1 {
        padding-top: 5%;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .vis5-container a {
        padding: 10px;
        font-size: 1em;
        color: blue;
        text-decoration: none;
    }

    .vis5-container a:hover {
        color: black;
    }

    @media only screen and (max-width: 768px){
        .vis5-container {
            width: 90%;
        }
    }